{
  "openapi": "3.1.0",
  "info": {
    "title": "CreatorCrawl API",
    "version": "1.0.0",
    "description": "Scrape TikTok data at scale. Profiles, videos, comments, followers, trending content, and more."
  },
  "servers": [
    {
      "url": "https://creatorcrawl.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key from your CreatorCrawl dashboard"
      }
    }
  },
  "tags": [
    {
      "name": "Profile",
      "description": "Fetch TikTok profiles, followers, following, audience demographics, and live streams"
    },
    {
      "name": "Video",
      "description": "Scrape video data, comments, and transcripts"
    },
    {
      "name": "Search",
      "description": "Search TikTok by keyword, hashtag, top results, or users"
    },
    {
      "name": "Trending",
      "description": "Get trending videos, hashtags, songs, and creators"
    },
    {
      "name": "Song",
      "description": "Get song details and videos using a song"
    }
  ],
  "paths": {
    "/api/tiktok/profile": {
      "get": {
        "operationId": "getTiktokProfile",
        "tags": ["Profile"],
        "summary": "Get TikTok profile",
        "description": "Fetches a public TikTok profile by handle, including user info, stats, and recent videos.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "TikTok handle (e.g. stoolpresidente)"
          }
        ],
        "responses": {
          "200": { "description": "TikTok profile data" },
          "400": { "description": "Missing or invalid handle" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/profile/videos": {
      "get": {
        "operationId": "getTiktokProfileVideos",
        "tags": ["Profile"],
        "summary": "Get TikTok profile videos",
        "description": "Scrapes videos from a TikTok profile. Pass max_cursor to paginate through results.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "TikTok handle (e.g. stoolpresidente)"
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "TikTok user id. Use this for faster responses."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["latest", "popular"] },
            "description": "What to sort by (latest or popular)"
          },
          {
            "name": "max_cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Cursor to get more videos. Get max_cursor from previous response."
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Region (Country) for the proxy. Defaults to US."
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["true", "false"] },
            "description": "Set to true for a trimmed down version of the response"
          }
        ],
        "responses": {
          "200": { "description": "TikTok profile videos data" },
          "400": { "description": "Missing or invalid handle" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/user/audience": {
      "get": {
        "operationId": "getTiktokUserAudience",
        "tags": ["Profile"],
        "summary": "Get TikTok user audience demographics",
        "description": "Get the audience demographics of a TikTok user. Returns audience country distribution. Costs 26 credits per request.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "TikTok handle (e.g. shakira)"
          }
        ],
        "responses": {
          "200": { "description": "TikTok user audience demographics" },
          "400": { "description": "Missing or invalid handle" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/user/followers": {
      "get": {
        "operationId": "getTiktokUserFollowers",
        "tags": ["Profile"],
        "summary": "Get TikTok user followers",
        "description": "Scrapes followers of a TikTok account. Supports pagination via min_time.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "TikTok handle (e.g. stoolpresidente)"
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "User id. Use this for faster response times."
          },
          {
            "name": "min_time",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "Used to paginate. Get min_time from previous response."
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" },
            "description": "Set to true to get a trimmed response"
          }
        ],
        "responses": {
          "200": { "description": "TikTok user followers list" },
          "400": { "description": "Missing handle or user_id" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/user/following": {
      "get": {
        "operationId": "getTiktokUserFollowing",
        "tags": ["Profile"],
        "summary": "Get TikTok user following",
        "description": "Scrapes accounts that a TikTok user follows. Supports pagination via min_time.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "TikTok handle (e.g. stoolpresidente)"
          },
          {
            "name": "min_time",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "Used to paginate. Get min_time from previous response."
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" },
            "description": "Set to true to get a trimmed response"
          }
        ],
        "responses": {
          "200": { "description": "TikTok user following list" },
          "400": { "description": "Missing or invalid handle" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/user/live": {
      "get": {
        "operationId": "getTiktokUserLive",
        "tags": ["Profile"],
        "summary": "Get TikTok live stream",
        "description": "Scrapes a TikTok user's live stream data including stream URLs, viewer count, and room info.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "TikTok handle (e.g. thejustalex)"
          }
        ],
        "responses": {
          "200": { "description": "TikTok live stream data" },
          "400": { "description": "Missing or invalid handle" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/video": {
      "get": {
        "operationId": "getTiktokVideo",
        "tags": ["Video"],
        "summary": "Get TikTok video info",
        "description": "Scrapes data from a TikTok video including author, statistics, video URLs, and more.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "TikTok video URL"
          },
          {
            "name": "get_transcript",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Set to true to get the transcript of the video"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Region of the proxy. Use 2 letter country codes like US, GB, FR, PH, etc."
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Set to true to get a trimmed response"
          }
        ],
        "responses": {
          "200": { "description": "TikTok video data" },
          "400": { "description": "Missing or invalid URL" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/video/comments": {
      "get": {
        "operationId": "getTiktokVideoComments",
        "tags": ["Video"],
        "summary": "Get TikTok video comments",
        "description": "Scrapes comments from a TikTok video. Supports pagination via cursor.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "TikTok video URL"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "Cursor to get more comments. Get cursor from previous response."
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" },
            "description": "Set to true to get a trimmed response"
          }
        ],
        "responses": {
          "200": { "description": "TikTok video comments" },
          "400": { "description": "Missing or invalid URL" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/video/transcript": {
      "get": {
        "operationId": "getTiktokVideoTranscript",
        "tags": ["Video"],
        "summary": "Get TikTok video transcript",
        "description": "Scrapes transcript from a TikTok video. Optionally specify language and AI fallback.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "TikTok video URL"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Language of the transcript. 2 letter language code, e.g. 'en', 'es', 'fr', 'de', 'it', 'ja', 'ko', 'zh'"
          },
          {
            "name": "use_ai_as_fallback",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Set to 'true' to use AI as a fallback if the transcript is not found. Only works for videos under 2 minutes."
          }
        ],
        "responses": {
          "200": { "description": "TikTok video transcript" },
          "400": { "description": "Missing or invalid URL" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/search/keyword": {
      "get": {
        "operationId": "getTiktokSearchKeyword",
        "tags": ["Search"],
        "summary": "Search TikTok by keyword",
        "description": "Scrapes TikTok videos matching a keyword. Supports sorting, date filtering, and pagination.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Keyword to search for"
          },
          {
            "name": "date_posted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["yesterday", "this-week", "this-month", "last-3-months", "last-6-months", "all-time"]
            },
            "description": "Time frame filter"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["relevance", "most-liked", "date-posted"] },
            "description": "Sort by"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Region for the proxy (2 letter country code e.g. US, GB)"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "Cursor to get more videos. Get cursor from previous response."
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" },
            "description": "Set to true to get a trimmed response"
          }
        ],
        "responses": {
          "200": { "description": "TikTok keyword search results" },
          "400": { "description": "Missing query" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/search/hashtag": {
      "get": {
        "operationId": "getTiktokSearchHashtag",
        "tags": ["Search"],
        "summary": "Search TikTok by hashtag",
        "description": "Scrapes TikTok videos by hashtag. Supports pagination via cursor.",
        "parameters": [
          {
            "name": "hashtag",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Hashtag to search for (without #)"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Region the proxy will be set to (e.g. US)"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "Cursor to get more videos. Get cursor from previous response."
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" },
            "description": "Set to true to get a trimmed response"
          }
        ],
        "responses": {
          "200": { "description": "TikTok hashtag search results" },
          "400": { "description": "Missing hashtag" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/search/top": {
      "get": {
        "operationId": "getTiktokSearchTop",
        "tags": ["Search"],
        "summary": "Top search on TikTok",
        "description": "TikTok Top search results including both videos and photo carousels. Unlike keyword search which only returns videos.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Keyword to search for"
          },
          {
            "name": "publish_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["yesterday", "this-week", "this-month", "last-3-months", "last-6-months", "all-time"]
            },
            "description": "Time frame filter"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["relevance", "most-liked", "date-posted"] },
            "description": "Sort by"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Region for the proxy (2 letter country code e.g. US, GB)"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "Cursor to get more results. Get cursor from previous response."
          }
        ],
        "responses": {
          "200": { "description": "TikTok top search results (videos + photo carousels)" },
          "400": { "description": "Missing query" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/search/users": {
      "get": {
        "operationId": "getTiktokSearchUsers",
        "tags": ["Search"],
        "summary": "Search TikTok users",
        "description": "Scrapes TikTok users matching a search query. Supports pagination via cursor.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Search query for users"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "Cursor to get more users. Get cursor from previous response."
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" },
            "description": "Set to true to get a trimmed response"
          }
        ],
        "responses": {
          "200": { "description": "TikTok user search results" },
          "400": { "description": "Missing query" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/get-trending-feed": {
      "get": {
        "operationId": "getTiktokTrendingFeed",
        "tags": ["Trending"],
        "summary": "Get trending feed",
        "description": "Get the trending feed from TikTok, filtered by region.",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Proxy region. Use 2 letter country codes like US, GB, FR, etc."
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Set to true to get a trimmed response"
          }
        ],
        "responses": {
          "200": { "description": "TikTok trending feed" },
          "400": { "description": "Missing or invalid region" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/videos/popular": {
      "get": {
        "operationId": "getTiktokVideosPopular",
        "tags": ["Trending"],
        "summary": "Get popular videos",
        "description": "Get popular videos from TikTok. Filter by time period, country, and sort by likes, views, comments, or reposts.",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": { "type": "number", "enum": [7, 30] },
            "description": "Time period in days (7 or 30)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "Page number"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["like", "hot", "comment", "repost"] },
            "description": "Sort by likes, views (hot), comments, or reposts"
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Country code (e.g. US, GB)"
          }
        ],
        "responses": {
          "200": { "description": "Popular videos with pagination" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/creators/popular": {
      "get": {
        "operationId": "getTiktokCreatorsPopular",
        "tags": ["Trending"],
        "summary": "Get popular creators",
        "description": "Get popular creators from TikTok. Filter by follower count, creator country, audience country, and sort by engagement, follower count, or average views.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "Page number"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["engagement", "follower", "avg_views"] },
            "description": "Sort creators by engagement, follower count, or average views"
          },
          {
            "name": "followerCount",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["10K-100K", "100K-1M", "1M-10M", "10M+"] },
            "description": "Filter by follower count range"
          },
          {
            "name": "creatorCountry",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Country code of the creator (e.g. US, GB)"
          },
          {
            "name": "audienceCountry",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Country code of the audience/follower (e.g. US, GB)"
          }
        ],
        "responses": {
          "200": { "description": "Popular creators with pagination" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/hashtags/popular": {
      "get": {
        "operationId": "getTiktokHashtagsPopular",
        "tags": ["Trending"],
        "summary": "Get popular hashtags",
        "description": "Get popular hashtags from TikTok. Filter by time period, country, and show newly trending hashtags.",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": { "type": "number", "enum": [7, 30, 120] },
            "description": "Time period in days (7, 30, or 120)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "Page number"
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Country code (e.g. US, GB, FR, DE, JP, KR, BR, etc.)"
          },
          {
            "name": "newOnBoard",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Show only newly trending hashtags"
          },
          {
            "name": "industry",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Industry filter (e.g. beauty-and-personal-care, food-and-beverage, tech-and-electronics)"
          }
        ],
        "responses": {
          "200": { "description": "Popular hashtags data" },
          "400": { "description": "Invalid parameters" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/songs/popular": {
      "get": {
        "operationId": "getTiktokSongsPopular",
        "tags": ["Trending"],
        "summary": "Get popular songs",
        "description": "Get popular songs from TikTok. This endpoint can take up to 30 seconds.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "Page number"
          },
          {
            "name": "timePeriod",
            "in": "query",
            "required": false,
            "schema": { "type": "number", "enum": [7, 30, 130] },
            "description": "Time period to get popular songs from"
          },
          {
            "name": "rankType",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["popular", "surging"] },
            "description": "Get popular or surging songs"
          },
          {
            "name": "newOnBoard",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" },
            "description": "New to top 100"
          },
          {
            "name": "commercialMusic",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" },
            "description": "Approved for business use"
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Country code (e.g. US, GB, DE)"
          }
        ],
        "responses": {
          "200": { "description": "Popular songs data with pagination" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/song": {
      "get": {
        "operationId": "getTiktokSong",
        "tags": ["Song"],
        "summary": "Get song details",
        "description": "Scrapes details from a TikTok song/clip.",
        "parameters": [
          {
            "name": "clipId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "The clip ID (not the song ID)"
          }
        ],
        "responses": {
          "200": { "description": "TikTok song details" },
          "400": { "description": "Missing or invalid clipId" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    },
    "/api/tiktok/song/videos": {
      "get": {
        "operationId": "getTiktokSongVideos",
        "tags": ["Song"],
        "summary": "Get TikToks using a song",
        "description": "Get the TikTok videos that use a specific song/clip.",
        "parameters": [
          {
            "name": "clipId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "The clip ID from the song URL"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "number" },
            "description": "Cursor for pagination to get the next page of results"
          }
        ],
        "responses": {
          "200": { "description": "TikTok videos using the song" },
          "400": { "description": "Missing or invalid clipId" },
          "401": { "description": "Unauthorized" },
          "502": { "description": "Upstream API error" }
        }
      }
    }
  }
}
